.k-help {
  .global_click-btn();
  .global_flex-center();

  border: 1px solid var(--theme-border-color-two);
  background-color: var(--theme-el-color-seven);
  transform: rotate(45deg);

  .text {
    color: var(--theme-font-color-two);
    transform: rotate(-45deg) translateY(0.1875rem);
  }
}
