.skin {
  .app-main_child();

  .skin-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .skin-card {
      aspect-ratio: 2 / 1;
    }
  }
}

.skin-card-enter-from {
  bottom: 0;
  transform: translateY(-50%);
  transform-origin: top center;
  opacity: 0;
}

.skin-card-enter-active {
  transition: all 0.5s cubic-bezier(0, -0.01, 0, 1.67);
}
