.edit-user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  padding: 0.625rem 0;

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 2rem;

    &.avatar-select {
      .avatar-box {
        overflow: hidden;
        width: 6.25rem;
        height: 6.25rem;
        margin-right: 1rem;
        border: 0.1875rem solid var(--white-50);
        border-radius: 50%;

        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .label {
      font-size: 2rem;
      text-shadow: var(--t-shadow-e);
    }

    .k-button {
      --btn-rate: 0.8;
      --font-size: 1.25rem;
    }
  }
}
