.mask-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(0deg, transparent 0%, var(--black-50) 100%);

  .wzry-guanbi {
    padding: 20px;
    border-radius: 50%;
    color: var(--white-75);
    font-size: 35px;
    background-color: var(--black);
    transition: all 0.25s;

    &:hover {
      color: var(--white);
    }

    &:active {
      transition: all 0.1s;
      opacity: 0.65;
      transform: scale(0.9);
    }
  }
}

/* 进入前状态 */
.mask-close-enter-from,
.mask-close-leave-active {
  opacity: 0;
}

/* 进入和离开动画属性 */
.mask-close-leave-active,
.mask-close-enter-active {
  transition: all var(--time-250);
}

/* 进入前状态 */
.mask-move-enter-from,
.mask-move-leave-active {
  transform: translateY(-100%);
}

/* 进入和离开动画属性 */
.mask-move-leave-active,
.mask-move-enter-active {
  transition: all var(--time-250);
}
