.game-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-bottom: var(--subline);
  text-shadow: var(--t-shadow-e);

  .iconfont {
    color: var(--theme-font-color-four);
    font-size: 3.125rem;
  }

  span {
    margin-left: 0.625rem;
    color: var(--theme-font-color-four);
    white-space: nowrap;
    font-size: 1.875rem;
  }
}
