.game-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  text-shadow: var(--t-shadow-e);
  border-bottom: var(--subline);

  .iconfont {
    color: var(--theme-color-five);
    font-size: 3.125rem;
  }

  span {
    margin-left: 0.625rem;
    color: var(--theme-color-five);
    font-size: 1.875rem;
    white-space: nowrap;
  }
}
