.equip-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;

  .hero-type {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--theme-color-five);
    transition: all 0.25s;

    &:hover {
      color: var(--blue);
    }

    .iconfont {
      margin-right: 15px;
      font-size: 35px;
    }

    .name {
      font-size: 20px;
    }

    :deep(.icon) {
      width: 35px;
      height: 35px;
      margin-right: 20px;
    }
  }
}

.active {
  color: var(--white) !important;
  background-image: linear-gradient(
    135deg,
    rgb(34 58 94 / 0%) 25%,
    rgb(34 130 199 / 25%) 100%
  ) !important;
}

