.seize-treasures {
  .app-main_child();

  flex-direction: column;
  padding: var(--gap-app-main-padding);
  padding-top: 0;

  .main {
    display: flex;
    overflow: hidden;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
