.seize-treasures {
  .app-main_child();

  flex-direction: column;

  .main {
    display: flex;
    overflow: hidden;
    padding: var(--gap-app-main-padding);

    @media screen and (max-width: 960px) {
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
