.select-hero {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.5625rem;
  border-bottom: 0.0625rem solid var(--white-10);
  backdrop-filter: blur(0.625rem);
}

.skin-num {
  position: absolute;
  top: 4.6875rem;
  z-index: 1;
  color: var(--theme-color-eight);
  font-size: 1.375rem;
}

.skin {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2.1875rem;
  flex-direction: column;
  border-bottom: 0.0625rem solid var(--white-10);

  .del {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5625rem;
    margin-right: 1.5625rem;
    color: var(--theme-color-seven);
    font-size: 1.5625rem;

    &:hover {
      color: var(--theme-color-four);
    }
  }

  .head-poster {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5625rem;

    span {
      font-size: 1.875rem;
    }
  }
}

.add-one {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--theme-color-seven);
  font-size: 3.125rem;

  &:hover {
    color: var(--theme-color-four);
  }
}