.lib-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    backdrop-filter: blur(0.625rem);

    th {
      .head {
        display: flex;
        align-items: center;
        height: 3.125rem;
        color: #fff;
      }
    }
  }

  th,
  tr {
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    word-break: break-all;
  }

  tr {
    &:nth-child(even) {
      background-color: rgb(255 255 255 / 5%);
    }
  }
}
