.equip-detail {
  overflow: auto;
  width: 30%;
  min-width: 250px;
  height: 100%;
  padding: 0 35px;
  transition: all 0.25s;
  opacity: 0;
  line-height: 1.25;

  .name {
    margin-bottom: 1em;
    color: var(--theme-color-nine);
    font-size: 26px;
  }

  .info {
    margin-bottom: 20px;
  }

  .details {
    .motivation {
      margin-bottom: 25px;

      .title {
        margin-bottom: 5px;
        color: var(--white);
        font-family: var(--font-f);
      }

      .desc,
      .time {
        color: var(--theme-color-five);
        font-family: var(--font-f);
      }
    }
  }

  .note {
    color: rgb(255 255 255 / 25%);
    font-family: var(--font-f);
  }
}

.show {
  transition: all 0.5s;
  opacity: 1;
}

.common,
.zdsm,
.hx,
.ys,
.gjsd,
.lqsj,
.wlxx,
.wlgj,
.bjl,
.wlfy,
.fsxx,
.zdfl,
.hl,
.fsfy,
.fsgj,
.lq {
  @size: 16px;

  height: @size;
  margin-bottom: 5px;
  padding-left: 22px;
  color: var(--theme-color-nine);
  font-size: 16px;
  font-family: "微软雅黑";
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1;
}

.zdsm {
  background-image: url("@{IMGBED}/image/equip_最大生命.png");
}

.hx {
  background-image: url("@{IMGBED}/image/equip_每5秒回血.png");
}

.ys {
  background-image: url("@{IMGBED}/image/equip_移速.png");
}

.gjsd {
  background-image: url("@{IMGBED}/image/equip_攻击速度.png");
}

.lqsj {
  background-image: url("@{IMGBED}/image/equip_冷却缩减.png");
}

.wlxx {
  background-image: url("@{IMGBED}/image/equip_物理吸血.png");
}

.wlgj {
  background-image: url("@{IMGBED}/image/equip_物理攻击.png");
}

.bjl {
  background-image: url("@{IMGBED}/image/equip_暴击率.png");
}

.wlfy {
  background-image: url("@{IMGBED}/image/equip_物理防御.png");
}

.fsxx {
  background-image: url("@{IMGBED}/image/equip_法术吸血.png");
}

.zdfl {
  background-image: url("@{IMGBED}/image/equip_最大法力.png");
}

.hl {
  background-image: url("@{IMGBED}/image/equip_每5秒回蓝.png");
}

.fsfy {
  background-image: url("@{IMGBED}/image/equip_法术防御.png");
}

.fsgj {
  background-image: url("@{IMGBED}/image/equip_法术攻击.png");
}

.lq {
  background-image: url("@{IMGBED}/image/equip_冷却时间.png");
}
