.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-tip);
  width: 100%;
  height: 100%;
  background-color: var(--black-10);

  .k-tip {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5625rem;
    min-height: calc(31.25rem * 0.5989);
    width: 31.25rem;
    background: url("@{IMGBED}/image/dialog.png") no-repeat center center;
    background-size: 100% 100%;
    filter: var(--d-shadow-c);

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5.625rem;
      color: var(--theme-font-color-seven);
      text-shadow: var(--t-shadow-e);

      .title {
        font-size: 1.875rem;
        transform: translateX(2.5rem);
      }

      .soldier {
        height: 6.25rem;
        filter: var(--d-shadow-b);
        transform: translateY(-50%) rotateY(180deg);
      }
    }

    .content {
      overflow: auto;
      flex-grow: 1;
      margin-bottom: 2.1875rem;
      padding: 0 1.875rem 0 3.125rem;
      width: 100%;
      text-indent: 2em;
      text-shadow: var(--t-shadow-e);
      font-size: 1.5rem;
      line-height: 1.25;
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.875rem 0 3.125rem;
      width: 100%;
    }
  }
}

.left-top-enter-from,
.left-bottom-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}

.right-top-enter-from,
.right-bottom-enter-from {
  opacity: 0;
  transform: translateX(100%);
}

.left-bottom-leave-active,
.left-top-leave-active,
.right-bottom-leave-active,
.right-top-leave-active {
  opacity: 0;
}

.left-top-enter-active,
.left-top-leave-active,
.left-bottom-enter-active,
.left-bottom-leave-active,
.right-top-enter-active,
.right-top-leave-active,
.right-bottom-enter-active,
.right-bottom-leave-active {
  transition: all var(--time-500);
}
