.basic-info {
  .global_stripes-bg();

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 3.125rem;
  box-shadow: 0 0 6.25rem 1.5625rem #000 inset;
  background-color: var(--black-50);

  &__center {
    display: flex;
    height: 100%;

    .center-left {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &__bottom {
    width: 100%;
    height: 6.25rem;
  }
}

.show {
  transform: translateY(-100%);
  opacity: 0;
}

.relationship-enter-from,
.relationship-leave-active {
  transform: translateX(50%);
  opacity: 0;
}

.relationship-leave-active,
.relationship-enter-active {
  transition: transform 1s;
}

.attribute-enter-from,
.attribute-leave-active {
  transform: translateY(100%);
  opacity: 0;
}

.attribute-leave-active,
.attribute-enter-active {
  transition: all 1s;
}
