.basic-info {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 3.125rem;
  box-shadow: 0 0 6.25rem 1.5625rem #000 inset;
  color: var(--white);
  background-color: var(--black-50);

  &__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 1.5625rem;
    border: var(--subline);

    &__left {
      margin-right: 6.25rem;

      .hero-basic {
        margin-bottom: 3.125rem;
      }

      .hero-attribute1 {
        position: relative;
        display: none;
        flex-direction: column;
        width: 100%;
        border: var(--subline);

        .attribute {
          width: 0%;
          transition: all 1s;
          transform: translateY(0%);
        }
      }
    }

    &__right {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .hero-attribute2 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: var(--subline);

        .attribute {
          width: 0%;
          transition: all 1s;
          transform: translateY(0%);
        }
      }
    }
  }

  .wzry-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: var(--white-75);
    font-size: 4.6875rem;
    transform: translateX(-50%);
    animation: down-up 1s infinite alternate-reverse;

    @keyframes down-up {
      0% {
        transform: translateX(-50%) translateY(0%);
      }

      100% {
        transform: translateX(-50%) translateY(-75%);
      }
    }
  }

  @media screen and (max-width: @medium) {
    &__content {
      &__left {
        margin-right: 0;

        .hero-attribute1 {
          display: flex;
        }
      }

      &__right {
        .hero-attribute2 {
          display: none;
        }
      }
    }
  }
}

.show {
  transform: translateY(-100%);
  opacity: 0;
}

.relationship-enter-from,
.relationship-leave-active {
  transform: translateX(50%);
  opacity: 0;
}

.relationship-leave-active,
.relationship-enter-active {
  transition: transform 1s;
}

.attribute-enter-from,
.attribute-leave-active {
  transform: translateY(100%);
  opacity: 0;
}

.attribute-leave-active,
.attribute-enter-active {
  transition: all 1s;
}
