.btn-icon {
  .iconfont {
    margin-right: 20px;
    color: var(--theme-color-five);
    font-size: 35px;

    &:hover {
      color: var(--white);
    }
  }

  .wzry-setting {
    transition: all 0.5s;

    &:hover {
      transform: rotate(180deg);
    }
  }
}
