.btn-icon {
  position: relative;

  .iconfont {
    margin-right: 20px;
    color: var(--theme-color-five);
    font-size: 35px;
  }

  .wzry-setting {
    display: inline-block;
    transition: all var(--time-500);

    &:hover {
      color: var(--white);
      transform: rotate(180deg);
    }
  }
}

.options {
  display: flex;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  padding-left: 75px;
  flex: 1;

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 25px;

    .label {
      display: flex;
      align-items: center;
      font-size: 26px;
    }
  }
}
