.HeroSkinName {
  .skin-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    transform: translateY(-50%);
    font-size: 50px;
    text-shadow: 0 5px 3px #000;
  }
}