.equip-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-right: 0;
  padding-top: 1.125rem;
  padding-left: 1.125rem;
  width: 100%;

  @media screen and (width <= 1120px) {
    padding: 1.125rem;
    width: 100%;
  }
}
