.equip-list {
  position: relative;
  display: flex;
  width: 100%;
  margin-right: 0;
  padding-top: 1.125rem;
  padding-left: 1.125rem;
  flex-grow: 1;

  @media screen and (max-width: 70rem) {
    width: 100%;
    padding: 1.125rem;
  }
}