.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.6875rem;
  border-bottom: var(--subline);

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.625rem;
    height: 100%;

    .timeGreet {
      margin-right: 1rem;
      color: var(--theme-font-color-four);
      font-size: 1.375rem;
    }
  }
}
