.navbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background-size: cover;

  .hamburger {
    margin-left: 15px;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
  }
}