.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.6875rem;
  border-bottom: var(--subline);

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: var(--subline);
    border-right: var(--subline);
    flex-grow: 1;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 0.625rem;

    .timeGreet {
      margin-right: 1rem;
      color: var(--theme-font-color-four);
      font-size: 1.375rem;
    }
  }
}
