.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;

  &.center {
    justify-content: center;
  }

  .label {
    position: relative;
    margin-right: 0.25em;
    color: var(--theme-font-color-six);
    text-align: right;

    span {
      position: relative;
      font-size: 1.875rem;

      .star {
        position: absolute;
        left: 0;
        color: var(--theme-font-color-five);
        font-size: 1.25rem;
        transform: translateX(-150%);
      }
    }
  }

  .wide {
    margin-left: 1.5625rem;
  }
}
