.skin-voice {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 0.625rem;
  width: 100%;

  .voice {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 0.625rem;
    width: 100%;
    height: 3.125rem;
    color: var(--white);
    white-space: nowrap;
    transition: all var(--time-250) ease-in-out;

    &:hover {
      color: var(--blue);
      text-shadow: var(--shine-20);
      transition: all 0s;

      .content {
        .iconfont {
          color: var(--blue);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .text {
        padding: 0.9375rem;
        width: 100%;
        font-size: 1.375rem;
      }
    }
  }
}

.active-width {
  transform: rotateX(25deg) scaleX(0.9) !important;
}

.active-color {
  color: var(--blue) !important;
  text-shadow: var(--shine-20);
}