.water-mark {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: var(--z-index-water-mark);
  color: var(--white-25);
  font-size: 0.75rem;
  transition: all 0.5s;

  p {
    text-shadow: var(--shine-10);
  }
}

.old {
  color: var(--red) !important;
}

.new {
  color: var(--green) !important;
}

.low {
  color: var(--red);
}


.markers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  background-color: var(--black-50);
  align-content: flex-start;
  backdrop-filter: blur(10px);
  gap: 1rem;

  .marker {
    width: 30em;
    font-size: 1.25rem;
    opacity: 0.75;
  }
}