.hero-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--white-10);

  .filter-select {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 644px;
  }

  .gender {
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: var(--theme-color-five);
    font-size: 22px;

    .iconfont {
      color: var(--white-25);
      font-size: 24px;
    }

    .wzry-nan,
    .wzry-nv {
      margin-right: 0.5em;
    }

    .nan-active {
      color: var(--blue);
    }

    .nv-active {
      color: var(--pink);
    }

    .all-active {
      color: var(--white);
    }
  }

  input {
    width: 8em;
    margin: 10px;
    margin-left: auto;
    padding: 6px;
    border: none;
    color: var(--white);
    font-size: 24px;
    font-family: var(--font-f);
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--theme-color-eleven);

    &::placeholder {
      color: var(--theme-color-three);
    }
  }
}

.active {
  color: var(--white) !important;
  background-color: #347cb6 !important;
}
