.desc-set {
  position: relative;

  .question-icon {
    .global_cursor-pointer();
    .global_flex-center();

    margin-left: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.0625rem solid var(--theme-border-color-two);
    background-color: var(--theme-el-color-one);
    color: var(--theme-font-color-two);
    transition: all 0.1s;
    transform: rotate(45deg);

    span {
      font-size: 1.25rem;
      transform: translate(0.0625rem, 0.0625rem) rotate(-45deg);
    }

    &:hover {
      border: 0.0625rem solid var(--theme-border-color-four);
      color: var(--theme-font-color-four);
    }
  }

  .desc-tip {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
    padding: 0.75em;
    width: 25rem;
    border-radius: 0.625rem;
    background-color: var(--theme-el-color-one);
    color: var(--theme-font-color-four);
    text-align: center;
    font-size: 1.125rem;
    transform: translate(-45%, -3.125rem);
    transform-origin: center bottom;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
      background-color: var(--theme-el-color-one);
      content: "";
      transform: translate(-0.8125rem, 0.625rem) rotate(-45deg);
    }
  }
}

.desc-set-enter-from {
  opacity: 0;
}

.desc-set-leave-active {
  opacity: 0;
}

.desc-set-enter-active {
  transition: all 0.25s;
}
