@font-face {
  font-family: "iconfont"; /* Project id 4199566 */
  src: url('iconfont.woff2?t=1699639630498') format('woff2'),
       url('iconfont.woff?t=1699639630498') format('woff'),
       url('iconfont.ttf?t=1699639630498') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e68a";
}

.icon-ditu:before {
  content: "\e681";
}

.icon-ditu1:before {
  content: "\e635";
}

.icon-cebianlan:before {
  content: "\e606";
}

.icon-tiren:before {
  content: "\e645";
}

.icon-fuzhi:before {
  content: "\e669";
}

.icon-zuyuan:before {
  content: "\e63b";
}

.icon-biaoji:before {
  content: "\e639";
}

.icon-team:before {
  content: "\e63a";
}

.icon-dingwei:before {
  content: "\ec32";
}

.icon-shoujihao:before {
  content: "\e620";
}

.icon-yonghuming:before {
  content: "\e619";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-nicheng:before {
  content: "\e633";
}

.icon-eye-open:before {
  content: "\e6cf";
}

.icon-eye-close:before {
  content: "\e6d1";
}

.icon-biaoji1:before {
  content: "\e64a";
}

.icon-biaoji2:before {
  content: "\e65b";
}

.icon-fight:before {
  content: "\e600";
}

.icon-qiche:before {
  content: "\e7ef";
}

.icon-location-full:before {
  content: "\e9f1";
}

.icon-zhishengji:before {
  content: "\e601";
}

.icon-fangzi:before {
  content: "\e8c6";
}

.icon-close:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e6dc";
}

.icon-iccopy:before {
  content: "\e61f";
}

.icon-xiala:before {
  content: "\e646";
}

