@font-face {
  font-family: "iconfont"; /* Project id 3767305 */
  src: url('iconfont.woff2?t=1716578870670') format('woff2'),
       url('iconfont.woff?t=1716578870670') format('woff'),
       url('iconfont.ttf?t=1716578870670') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wzry-updateLog:before {
  content: "\e63d";
}

.wzry-lock:before {
  content: "\e697";
}

.wzry-yibao:before {
  content: "\ec1c";
}

.wzry-guanbi:before {
  content: "\e603";
}

.wzry-dui:before {
  content: "\e715";
}

.wzry-specialty:before {
  content: "\e62a";
}

.wzry-finish:before {
  content: "\e634";
}

.wzry-task:before {
  content: "\e6c0";
}

.wzry-fuzhi:before {
  content: "\e643";
}

.wzry-youxiang:before {
  content: "\e607";
}

.wzry-renwu:before {
  content: "\e63f";
}

.wzry-baoxiang:before {
  content: "\e63b";
}

.wzry-huodong:before {
  content: "\e63c";
}

.wzry-kaiguan:before {
  content: "\e6b0";
}

.wzry-tingzhi:before {
  content: "\e686";
}

.wzry-you:before {
  content: "\e63a";
}

.wzry-honor:before {
  content: "\e639";
}

.wzry-king:before {
  content: "\e6f6";
}

.wzry-shop:before {
  content: "\e7a8";
}

.wzry-prop:before {
  content: "\e636";
}

.wzry-debris:before {
  content: "\e6b9";
}

.wzry-crystal:before {
  content: "\e638";
}

.wzry-knapsack:before {
  content: "\e671";
}

.wzry-chaka:before {
  content: "\e637";
}

.wzry-rename:before {
  content: "\e654";
}

.wzry-close:before {
  content: "\e631";
}

.wzry-todo:before {
  content: "\e759";
}

.wzry-spider:before {
  content: "\e6ff";
}

.wzry-atlas:before {
  content: "\e635";
}

.wzry-yuyan:before {
  content: "\e85f";
}

.wzry-down:before {
  content: "\e69c";
}

.wzry-jingyin-mianxing:before {
  content: "\e668";
}

.wzry-laba-mianxing:before {
  content: "\e669";
}

.wzry-youxi:before {
  content: "\e630";
}

.wzry-musiclist:before {
  content: "\e62f";
}

.wzry-pause:before {
  content: "\e769";
}

.wzry-last:before {
  content: "\e78a";
}

.wzry-next:before {
  content: "\e7a5";
}

.wzry-play:before {
  content: "\e7af";
}

.wzry-yinleliebiao:before {
  content: "\e7fe";
}

.wzry-readme:before {
  content: "\ec1a";
}

.wzry-suoxiao:before {
  content: "\ec14";
}

.wzry-gengxinrizhi:before {
  content: "\e7d7";
}

.wzry-fangda:before {
  content: "\ec13";
}

.wzry-playactive:before {
  content: "\ea0c";
}

.wzry-gonggao:before {
  content: "\e731";
}

.wzry-fanhui:before {
  content: "\e61e";
}

.wzry-xingbie:before {
  content: "\e632";
}

.wzry-qiehuan:before {
  content: "\e691";
}

.wzry-database:before {
  content: "\e940";
}

.wzry-profession:before {
  content: "\ea45";
}

.wzry-identity:before {
  content: "\e750";
}

.wzry-pifu:before {
  content: "\e62e";
}

.wzry-mark-github:before {
  content: "\e62d";
}

.wzry-search:before {
  content: "\e62b";
}

.wzry-setting:before {
  content: "\e62c";
}

.wzry-packup:before {
  content: "\e87f";
}

.wzry-area:before {
  content: "\e625";
}

.wzry-camp:before {
  content: "\e626";
}

.wzry-location:before {
  content: "\e627";
}

.wzry-height:before {
  content: "\e628";
}

.wzry-period:before {
  content: "\e629";
}

.wzry-playing:before {
  content: "\e624";
}

.wzry-delbig:before {
  content: "\e623";
}

.wzry-cike:before {
  content: "\e60c";
}

.wzry-daye:before {
  content: "\e60d";
}

.wzry-fashi:before {
  content: "\e60e";
}

.wzry-fashu:before {
  content: "\e60f";
}

.wzry-fangyu:before {
  content: "\e610";
}

.wzry-fuzhu:before {
  content: "\e611";
}

.wzry-mingwen:before {
  content: "\e612";
}

.wzry-nv:before {
  content: "\e613";
}

.wzry-nan:before {
  content: "\e614";
}

.wzry-gongji:before {
  content: "\e615";
}

.wzry-quanbu:before {
  content: "\e616";
}

.wzry-tanke:before {
  content: "\e617";
}

.wzry-sheshou:before {
  content: "\e618";
}

.wzry-xitongguanli:before {
  content: "\e61a";
}

.wzry-yidong:before {
  content: "\e61b";
}

.wzry-yingxiong:before {
  content: "\e61c";
}

.wzry-youzou:before {
  content: "\e61d";
}

.wzry-zhuye:before {
  content: "\e61f";
}

.wzry-zhanshi:before {
  content: "\e620";
}

.wzry-zhuangbei:before {
  content: "\e621";
}

.wzry-mic:before {
  content: "\e604";
}

.wzry-logo:before {
  content: "\e600";
}

.wzry-user:before {
  content: "\e619";
}

.wzry-password:before {
  content: "\e8b2";
}

