.hero-parallax {
  .global_fill-container();

  position: relative;
  background: no-repeat center center fixed;
  background-size: cover;
  scroll-snap-align: start;

  .blur-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--image-load-blur));
  }
}
