.into-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  background: url("https://lengyibai.gitee.io/img-bed/wzry/image/login_btn.png")
    no-repeat center center;
  background-size: 100%;
  flex-direction: column;

  span {
    &:nth-of-type(1) {
      color: var(--white);
      font-size: 35px;
    }

    &:nth-of-type(2) {
      color: #895c36;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 14px;
      text-shadow: 0 0 5px #8b5e37;
    }
  }
}
