.form-select {
  display: flex;
  align-items: center;

  .select {
    position: relative;

    .select-box {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .k-input {
        --width: 15.625rem;
        --color: var(--theme-font-color-four);
      }

      .arrow {
        --misc-rate: 0.42;
        .spirit_misc-arrow();

        transition: transform 0.25s;
        transform: translateX(-100%) rotate(0deg);
      }
    }

    .select-list {
      position: absolute;
      bottom: -0.9375rem;
      z-index: 2;
      overflow: auto;
      width: 100%;
      height: 18.75rem;
      border: 0.0625rem solid var(--theme-border-color-three);
      border-radius: 0.3125rem;
      background-color: var(--black);
      transition:
        opacity 0.25s,
        transform 0.25s;
      transform: translateY(100%);
      transform-origin: top center;
      overscroll-behavior: contain;

      .box {
        width: 100%;
        padding: 1.25rem;
        color: var(--theme-font-color-seven);
        text-align: left;
        background-color: rgb(0 0 0 / 39%);

        .item {
          font-size: 1.625rem;
          transition: transform 0.25s;
        }
      }
    }
  }
}

.selected-list {
  display: flex;
  min-height: 3.75rem;
  margin-bottom: 1.5625rem;

  .selected {
    width: fit-content;
    padding: 0.5em;
    font-size: 1.5625rem;

    .name {
      margin-right: 0.5em;
      color: var(--theme-font-color-three);
    }

    .del {
      color: var(--theme-font-color-two);

      &:hover {
        color: var(--red);
      }
    }
  }
}

.rotate {
  transform: translateX(-100%) rotate(180deg) !important;
}

.unfold {
  transform: translateY(100%) scaleY(0) !important;
  opacity: 0;
}

.active {
  color: var(--theme-font-color-three) !important;
  background-color: rgb(35 60 91 / 50%) !important;

  .item {
    transform: translateX(0.625rem);
  }
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
