.hero-skill-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  border: var(--subline);

  .left,
  .right {
    width: 45%;
    border: var(--subline);
  }

  .hide-left {
    opacity: 0;
    transform: translateX(-10%);
  }

  .hide-right {
    opacity: 0;
    transform: translateX(10%);
  }

  @media screen and (max-width: @large) {
    flex-direction: column;
    justify-content: flex-start;

    .left,
    .right {
      width: 100% !important;
    }

    .left {
      margin-bottom: 6.25rem;
    }
  }
}
