.hero-skill-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.hide-left {
  transform: translateX(-10%);
  opacity: 0;
}

.hide-right {
  transform: translateX(10%);
  opacity: 0;
}