.tool {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.epigraph-main {
  flex-grow: 1;
  overflow: auto;
}

.epigraph-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.epigraph-enter-active {
  transition: all 0.25s;
}
