.tool {
  display: flex;
  flex-direction: column;
}

.epigraph-main {
  .global_bottom-Virtualization();

  flex-grow: 1;
  overflow: auto;
  padding-right: 0.9375rem;
}

.epigraph-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.epigraph-enter-active {
  transition: all 0.25s;
}
