.flex-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1.5625rem;
}

.type-list {
  display: flex;
  min-height: 3.75rem;
  margin-bottom: 1.5625rem;

  .specialty-type {
    width: fit-content;
    padding: 0.5em;
    font-size: 1.5625rem;

    .name {
      margin-right: 0.5em;
      color: var(--theme-font-color-three);
    }

    .del {
      color: var(--theme-font-color-two);

      &:hover {
        color: var(--red);
      }
    }
  }
}
