.readme {
  position: fixed;
  z-index: var(--z-index-readme);
  width: 100vw;
  height: 100vh;
  transition: all 0.25s;

  .wzry-guanbi {
    position: absolute;
    top: 2.1875rem;
    right: 2.1875rem;
    font-size: 2.1875rem;
  }

  .iframe {
    width: 100%;
    height: 100%;
  }
}