.readme {
  .global_fill-container();

  position: absolute;
  z-index: var(--z-index-readme);
  background-color: var(--black-75);
  transition: all 0.25s;

  &__close {
    position: absolute;
    top: 2.1875rem;
    right: 2.1875rem;
    font-size: 2.1875rem;
  }

  &__iframe {
    .global_fill-container();
  }
}
