.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.3021vw 0;
  transition: all 0.5s;

  .title-name {
    left: 50%;
    font-size: 3.125vw;
    text-align: center;
  }

  .title-mark {
    display: flex;
    align-items: center;
    color: var(--gray);
    font-size: 1.8229vw;

    .text {
      margin: 0 10px;
    }

    .left,
    .right {
      width: 100px;
    }

    .right {
      transform: rotate(180deg);
    }
  }
}
