.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  transition: all var(--time-500);

  .title-name {
    left: 50%;
    font-size: 60px;
    text-align: center;
  }

  .title-mark {
    display: flex;
    align-items: center;
    color: var(--white-75);
    font-size: 35px;

    .text {
      margin: 0 10px;
    }

    .left,
    .right {
      width: 100px;
    }

    .right {
      transform: rotate(180deg);
    }
  }
  @media screen and (max-width: 1560px) {
    .title-name {
      font-size: 35px;
    }

    .title-mark {
      font-size: 25px;
    }
  }
}
