.hero-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5625rem 0;
  transition: all 0.5s;

  .title-name {
    left: 50%;
    margin-bottom: 0.625rem;
    text-align: center;
    font-size: 3.125rem;
  }

  .title-mark {
    display: flex;
    align-items: center;
    color: var(--white-75);
    font-size: 1.875rem;

    .text {
      margin: 0 0.625rem;
    }

    .left,
    .right {
      width: 6.25rem;
    }

    .right {
      transform: rotate(180deg);
    }
  }
}
