.hero-voice {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 35%;
  height: 75vh;
  padding-right: 10px;
  flex-direction: column;

  .voice {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 65px;
    margin-bottom: 10px;
    padding: 0 50px;
    border-radius: 10px;
    color: var(--white);
    white-space: nowrap;
    background-color: rgb(0 0 0 / 50%);
    transition: all 0.5s;

    &:hover {
      height: 70px;
      color: var(--blue);
      transition: all 0s;

      .content {
        .iconfont {
          color: var(--blue);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 22px;

      .text {
        width: 100%;
      }

      .iconfont {
        color: var(--white);
        font-size: 26px;
      }
    }

    @media screen and (max-width: 1560px) {
      .text {
        font-size: 16px;
      }
    }
  }
}

.active-rotate {
  animation: rotate 0s 0.5s linear;
  color: var(--blue);
}

.active-color {
  color: var(--blue) !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
