.remember-pwd {
  .global_cursor-pointer();

  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.9375rem;
    width: 1.875rem;
    height: 1.875rem;
  }

  .text {
    .global_click-btn();

    color: var(--theme-font-color-ten);
    text-shadow: var(--t-shadow-d);
    font-size: 1.5rem;
  }
}
