.remember-pwd {
  display: flex;
  align-items: center;

  img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.9375rem;
  }

  span {
    color: var(--theme-color-thirteen);
    font-size: 1.5rem;
    text-shadow: var(--t-shadow-d);
  }
}