.log-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transform-style: preserve-3d;

  .label {
    .global_flex-center();

    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--white-75);
    background-color: var(--black-50);
    transform: translateZ(5rem);

    .wzry-chaka {
      margin-right: 1rem;
      font-size: 2.5rem;
    }

    .text {
      font-size: 1.5rem;
    }
  }

  .card-info {
    .global_flex-center();

    width: 100%;
    height: 6.25rem;
    margin: 0 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, transparent 0%, var(--white-10) 50%, transparent 100%);
    transform: translateZ(10rem);

    &.del {
      background-image: linear-gradient(
        90deg,
        transparent 0%,
        rgb(231 77 60 / 50%) 50%,
        transparent 100%
      );
    }

    .avatar {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .username {
      font-size: 1.75rem;
    }

    .text {
      font-size: 2rem;
    }
  }

  &__btns {
    margin: 1.5rem 0;
    -webkit-box-reflect: below 0.625rem
      linear-gradient(transparent, transparent 0%, var(--black-25));
    transform: translateZ(5rem);
  }
}
