.prop-num {
  display: flex;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 540px) {
    display: none;
  }

  .prop-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    vertical-align: middle;

    .icon {
      width: 2.25rem;
      height: 2.25rem;
      margin-right: 0.75rem;
      filter: var(--d-shadow-b) drop-shadow(var(--shine-15) var(--white-25));
    }

    .k-long-num {
      font-size: 1.75rem;
      text-shadow: var(--t-shadow-f);
      transform: translateY(0.15rem);
    }
  }
}
