.todo {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  margin-bottom: 0.625rem;
  padding-right: 1.5625rem;
  color: var(--theme-font-color-four);
  text-shadow: var(--t-shadow-e);

  :deep(.content) {
    margin-bottom: 1.875rem;

    h1 {
      margin-bottom: 0.625rem;
      font-size: 2.25rem;

      &:not(:first-child) {
        margin-top: 1em;
      }
    }

    h2 {
      margin-top: 1.25rem;
      margin-bottom: 0.75rem;
      padding-left: 0.2em;
      font-size: 1.75rem;
    }

    h3 {
      margin-top: 0.25rem;
      margin-bottom: 0.625rem;
      padding-left: 0.4em;
      font-size: 1.5rem;
      font-weight: normal;
    }

    p {
      padding-left: 0.6em;
      font-size: 1.25rem;
      font-family: var(--font-f);
      text-shadow: var(--t-shadow-d);
      line-height: 1.5;
    }
  }
}
