.right {
  flex-grow: 1;
  overflow: auto;
  height: 100%;

  .add-skill-basic {
    position: relative;
    margin: 0.9375rem;
    padding: 0.9375rem;

    &:hover {
      background-color: var(--white-10);
    }

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 0.9375rem;

      img {
        width: 4.6875rem;
        height: 4.6875rem;
        margin-right: 1.5625rem;
      }

      .name {
        margin-right: 2em;
        font-size: 1.5625rem;
      }

      .types {
        display: flex;
        align-items: center;
      }

      .del {
        .global_click-btn();

        position: absolute;
        right: 0;
        bottom: 0;
        color: var(--red);
        font-size: 1.5625rem;
        transform: translate(-0.625rem, -0.625rem);
      }

      .editing {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--theme-font-color-one);
        font-size: 1.5625rem;
        transform: translate(-0.625rem, 1.25rem);
      }
    }

    .nums {
      display: flex;
      margin-bottom: 0.625rem;

      .cd {
        margin-right: 2em;
      }
    }

    .desc {
      margin-bottom: 0.625rem;
      line-height: 1.25;
    }

    .effect {
      .box {
        display: flex;
        margin-bottom: 0.3125rem;
      }
    }
  }
}

.active {
  outline: 0.0625rem dashed var(--white);
}
