.user-menu {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.9375rem;
  border: 0.125rem solid var(--theme-color-two);
  border-radius: 50%;

  .head-img {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--b-shadow-c);
    background-color: var(--white-50);
    transition: all var(--time-500);
    transform-origin: left top;
  }

  .user-card {
    position: absolute;
    top: 3.75rem;
    left: -10.9375rem;
    display: flex;
    align-items: center;
    width: 18.75rem;
    padding: 3.4375rem 1.5625rem 1.5625rem;
    border: 0.0625rem solid var(--white-10);
    border-radius: 0.625rem;
    text-shadow: var(--t-shadow-d);
    background-color: var(--theme-color-one);
    transition: all var(--time-500);
    opacity: 0;
    flex-direction: column;
    transform: translateY(1.5625rem);
    pointer-events: none;

    .name {
      width: 100%;
      margin-bottom: 0.3125rem;
      color: var(--theme-color-eight);
      font-size: 1.375rem;
      text-align: center;
      line-height: 1.3;
    }

    .role {
      color: var(--theme-color-eleven);
      font-size: 1rem;
    }

    .btns {
      position: relative;
      bottom: 0;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      margin-top: 3.125rem;

      .edit,
      .logout,
      .logoff {
        width: 75%;
        height: 3.125rem;
        color: #fff;
        font-size: 1.5625rem;
        text-align: center;
      }

      .edit,
      .logout {
        margin-bottom: 0.625rem;
      }
    }
  }
}

.hover {
  .head-img {
    transform-origin: center center;
    transform: translate(-3.125rem, 2.1875rem) scale(2);
  }

  .user-card {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
