.form-input {
  position: relative;
  display: flex;

  input {
    padding: 0 0.25em;
    width: 100%;
    outline: none;
    border: none;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    background-color: transparent;
    text-shadow: var(--t-shadow-d);

    &::placeholder {
      text-shadow: var(--t-shadow-d);
    }
  }

  .border,
  .focus {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--red);
    transition: all 0.5s;
  }

  .focus {
    background-color: var(--theme-el-color-two);
  }

  .tip {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    color: var(--red);
    font-size: 1rem;
    transform: translateY(125%);
    transform-origin: center top;
  }
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.tip-enter-from,
.tip-leave-active {
  transform: translateY(125%) scaleY(0) !important;
  transform-origin: top center;
}

.tip-enter-active,
.tip-leave-active {
  transition: all 0.25s;
}
