.story {
  .content {
    padding-top: 50px;

    .title {
      margin-bottom: 0.5em;
      color: var(--theme-color-eight);
      font-size: 35px;
    }

    .lib-rich-text {
      width: 75%;
    }
  }
}