.waterfall {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  padding: var(--gap-app-main-padding);
  padding-top: 0;

  .waterfall-content {
    position: relative;
  }

  .load-more {
    position: sticky;
    top: 100%;
    transform: translateY(10%);
  }
}
