.waterfall {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  padding: 0 1.25rem;

  .waterfall-content {
    position: relative;
  }

  .load-more {
    position: sticky;
    top: 100%;
    transform: translateY(40%);
  }
}
