.k-button {
  position: relative;
  box-shadow: var(--b-shadow);
  color: var(--white);
  user-select: none;

  &:hover {
    img {
      filter: contrast(1.1) brightness(1.3);
      transition: all 0.25s;
    }
  }

  &:active {
    box-shadow: initial;
    transition: all 0.05s;
    transform-origin: bottom center;
    transform: scale(0.95);

    img {
      filter: contrast(1) brightness(0.75);
      transition: all 0.05s;
    }
  }

  span {
    position: absolute;
    z-index: 1;
    user-select: none;
    margin-top: 4px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
  }
}

.auto {
  width: 100%;
  height: 100%;
}
