input {
  margin-bottom: 4.6875rem;
  padding: 0.5rem;
  width: 75%;
  border: none;
  background-color: var(--theme-el-color-one);
  color: var(--white);
  font-size: 1.75rem;
  font-family: var(--font-f);

  &::placeholder {
    color: var(--theme-font-color-two);
  }
}
