input {
  width: 75%;
  margin-bottom: 4.6875rem;
  padding: 0.5rem;
  border: none;
  color: var(--white);
  font-size: 1.75rem;
  font-family: var(--font-f);
  background-color: var(--theme-color-one);

  &::placeholder {
    color: var(--theme-color-three);
  }
}