.attribute {
  display: flex;
  align-items: center;
  height: 26px;
  margin-bottom: 40px;

  span {
    margin-right: 1em;
    color: var(--white);
    font-size: 40px;
    text-shadow: var(--t-shadow);
  }

  .ico {
    z-index: 2;
    width: 52px;
    height: 52px;
    background-position: 0 0;
    background-repeat: no-repeat;
    filter: drop-shadow(0 3px 3px black);
    background-image: url("https://lengyibai.gitee.io/wzry-material/image/attribute.png");
  }

  .bar {
    position: relative;
    height: 20px;
    border-radius: 0 4px 4px 0;
    box-shadow: var(--b-shadow);
    background-color: #1a1a1a;
    transition: all 0.5s;
    flex: 1;

    i {
      position: absolute;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background-color: var(--white);
      transition: all 2s;
    }
  }
  @media screen and (max-width: 1560px) {
    span {
      font-size: 30px;
    }

    .ico {
      transform: scale(0.75);
      margin-right: -7px;
    }

    .bar {
      height: 15px;
    }
  }
}
