.K-SkillTypeTag {
  display: flex;

  .skill-type {
    width: fit-content;
    height: 35px;
    margin-right: 10px;
    padding: 0 0.75em;
    box-shadow: var(--b-shadow);
    font-size: 20px;
    text-align: center;
    line-height: 35px;
  }

  .kongzhi,
  .jiansu,
  .ruohua,
  .biaoji,
  .yinji {
    border: 2px solid rgb(45 196 251 / 25%);
    color: #2dc4fb;
    background-color: rgb(45 196 251 / 25%);
  }

  .jinbi,
  .fuhuo,
  .weizhuang,
  .shouyi,
  .jianshang,
  .shiye,
  .beici,
  .yinshen,
  .shufu,
  .jingyan,
  .jinghua,
  .yazhi,
  .jiekong,
  .ganrao,
  .jiluo,
  .zhongshang,
  .mianyi,
  .zhaohuan,
  .chouqu {
    border: 2px solid rgb(229 178 75 / 25%);
    color: #e5b14b;
    background-color: rgb(229 178 75 / 25%);
  }

  .fashang {
    border: 2px solid rgb(229 95 247 / 25%);
    color: #e65ff7;
    background-color: rgb(229 95 247 / 25%);
  }

  .wushang {
    border: 2px solid rgba(212, 91, 16, 0.25);
    color: #d45c10;
    background-color: rgba(212, 91, 16, 0.25);
  }

  .qianghua,
  .hudun,
  .lengque,
  .huifu,
  .jiasu,
  .weiyi,
  .bati,.zhiliao {
    border: 2px solid rgb(105 197 113 / 25%);
    color: #69c570;
    background-color: rgb(105 197 113 / 25%);
  }

  .zhenshang {
    border: 2px solid rgba(255, 255, 255, 0.25);
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
