.skin-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 15px;
  border-bottom: 1px solid var(--white-10);

  .gender {
    display: flex;
    align-items: center;
    color: var(--theme-color-five);
    font-size: 24px;

    .iconfont {
      color: var(--white-25);
      font-size: 28px;
    }

    .wzry-nan,
    .wzry-nv {
      margin-right: 0.5em;
    }

    .nan-active {
      color: var(--blue);
    }

    .nv-active {
      color: var(--pink);
    }

    .all-active {
      color: var(--white);
    }
  }
}

.active {
  color: var(--white) !important;
  background-color: #347cb6 !important;
}
