.hero-skill {
  .global_fill-container();
  .global_stripes-bg();

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow: hidden;
  padding: 6.25rem 1.5625rem 3.125rem;
  color: var(--white);
  background-color: var(--black-50);
}
