.team {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  flex-wrap: wrap;
  gap: 10px;

  img {
    max-width: calc(50% - 5px);
    max-height: 160px;

    &:nth-child(1) {
      min-width: 100%;
      max-height: initial;
    }

    &:hover {
      outline: 1px solid var(--white);
    }
  }
}

.active {
  outline: 2px solid var(--blue);
}
