.hero-skill-content-right {
  display: flex;
  justify-content: flex-end;
  width: 45%;

  .table {
    width: 100%;
    border-collapse: collapse;
    height: fit-content;

    .lv {
      position: relative;
      font-size: 26px;
      text-shadow: var(--t-shadow);
      font-weight: bold;
    }

    .effect {
      font-size: 30px;
      text-shadow: var(--t-shadow);
      font-weight: bold;
    }

    .num {
      font-size: 26px;
      text-shadow: var(--t-shadow);
    }

    td {
      padding: 20px 5px;
      text-align: center;
      word-break: break-all;
    }
  }
}