.task {
  .app-main_child();

  flex-direction: column;
  padding: var(--gap-app-main-padding);

  .tool {
    display: flex;
    flex-direction: column;
  }

  .task-main {
    flex-grow: 1;
    overflow: auto;
    padding-right: 0.9375rem;
  }
}
