.into-btn {
  .global_flex-center();

  position: relative;
  flex-direction: column;
  width: 20rem;
  height: 4.75rem;
  background: url("@{IMGBED}/image/login_btn.png") no-repeat center center;
  background-size: 100%;

  &:hover {
    .bg {
      transition: all 0.25s;
      filter: contrast(1.1) brightness(1.3);
    }

    span {
      text-shadow: var(--shine-25) !important;
    }
  }

  &:active {
    box-shadow: initial;
    transition: all 0.05s;
    transform: scale(0.95);
    transform-origin: bottom center;

    .bg {
      transition: all 0.05s;
      filter: contrast(1) brightness(0.75);
    }
  }

  .bg {
    .global_fill-container();

    transition: all 0.25s;
  }

  .text,
  .desc {
    z-index: 1;
  }

  .text {
    color: var(--white);
    font-size: 2rem;
    text-shadow: var(--t-shadow-d);
  }

  .desc {
    color: #895c36;
    font-size: 1rem;
    text-shadow: var(--shine-5) #8b5e37;
    line-height: 0.875rem;
    letter-spacing: 0.125rem;
  }
}
