.footbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;

  .time {
    margin-left: 15px;
  }

  .copyright {
    margin-right: 15px;
  }

  .music-play {
    position: absolute;
    bottom: 0;
  }
}