.lib-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  width: 100%;

  //加内边距是为了适应底部的虚化效果
  padding-bottom: 1rem;

  &_content {
    display: grid;
    align-content: flex-start;
    padding: 1.25rem;
    grid-auto-flow: row dense;
  }
}
