.equip-list-primary {
  min-width: 15.625rem;
  transition: all var(--time-250);
  flex-grow: 1;

  .vertical-line {
    position: absolute;
    top: 0;
    width: 0.1875rem;
    height: 0;
    box-shadow: var(--shine-10) var(--blue), var(--shine-20) var(--blue);
    background-color: var(--blue);
    transition: all var(--time-250) var(--time-250);
    transform: translate(-1.25rem, 3.4375rem);
  }
}