.HeroSkillContentLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .name-type {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .name {
      font-size: 50px;
      margin-right: 15px;
      text-shadow: var(--t-shadow);
    }
  }

  .cd-consume {
    display: flex;
    margin-bottom: 15px;

    .cd,
    .consume,
    .passive {
      font-size: 35px;
      margin-right: 35px;
      text-shadow: var(--t-shadow);
    }

    .passive {
      color: var(--gray);
    }
  }

  .desc {
    font-size: 26px;
    text-shadow: var(--t-shadow);

    :deep(*) {
      font-size: inherit;
    }
  }
}