.hero-skin {
  overflow: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--black-75);
  color: var(--white);

  &__content {
    position: absolute;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 6.25rem 1.5625rem #000 inset;

    .top {
      display: flex;
      justify-content: space-between;
      margin: 1.5625rem 0.625rem;
      margin-bottom: 3.125rem;
      border-bottom: var(--subline);
    }

    .main {
      position: relative;
      display: flex;
      flex-grow: 1;
      padding: 0 1.5625rem;
      min-height: 0;
      border-top: var(--subline);
      border-bottom: var(--subline);

      &-left {
        width: 50%;
      }

      &-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: flex-end;
        border-left: var(--subline);
      }

      @media screen and (max-width: @medium) {
        flex-direction: column;

        &-left {
          max-height: 35%;
          width: 100%;
        }

        &-right {
          position: relative;
          display: flex;
          align-items: flex-end;
          flex-grow: 1;
          justify-content: center;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: content-box;
      padding: 1.5625rem 0;
      min-height: 3.125rem;
      border-top: var(--subline);
    }
  }

  @media screen and (max-width: @medium) {
    &__content {
      flex-direction: column;
    }
  }
}
