.hero-voice {
  .global_scroll-white();

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-right: 0.625rem;
  perspective: 62.5rem;

  .voice {
    .global_flex-center();

    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
    height: 4.0625rem;
    margin-bottom: 0.625rem;
    padding: 0 3.125rem;
    border-radius: 0.625rem;
    color: var(--white);
    white-space: nowrap;
    background-color: var(--black-50);
    transition: all 0.5s ease-in-out;

    &:hover {
      height: 4.375rem;
      color: var(--blue);
      text-shadow: var(--shine-10), var(--shine-20);
      transition: all 0s;

      .content {
        .iconfont {
          color: var(--blue);
        }
      }
    }

    &.active-width {
      text-shadow: var(--shine-10), var(--shine-20);
      transform: rotateX(25deg) scaleX(0.9) !important;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 1.375rem;

      &.active-color {
        color: var(--blue);
      }

      .text {
        width: 100%;
        padding: 0.625rem;
      }

      .iconfont {
        color: var(--white);
        font-size: 1.625rem;

        &.active-rotate {
          color: var(--blue);
          animation: rotate 0s linear;

          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
