.play-area {
  --rate: 3;

  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  height: 100%;
  margin-right: 1.875rem;

  .area-list {
    display: grid;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem;

    .area-box {
      border-radius: 0.75rem;
      background-color: var(--black-50);

      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }

      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }

      &:nth-child(4) {
        grid-area: 1 / 4 / 2 / 5;
      }

      &:nth-child(5) {
        grid-area: 2 / 4 / 3 / 5;
      }

      &:nth-child(6) {
        grid-area: 3 / 4 / 4 / 5;
      }

      &:nth-child(7) {
        grid-area: 4 / 4 / 5 / 5;
      }

      &:nth-child(8) {
        grid-area: 4 / 3 / 5 / 4;
      }

      &:nth-child(9) {
        grid-area: 4 / 2 / 5 / 3;
      }

      &:nth-child(10) {
        grid-area: 4 / 1 / 5 / 2;
      }

      &:nth-child(11) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(12) {
        grid-area: 2 / 1 / 3 / 2;
      }
    }
  }
}
