.EpigraphCard {
  position: relative;
  background-color: var(--black-25);
  padding: 20px 0;
  background-color: rgba(27, 43, 66, 0.5);
  box-shadow: var(--b-shadow);

  img {
    width: 100px;
    filter: drop-shadow(0px 3px 3px #000);
    margin-right: 25px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    text-shadow: var(--t-shadow);

    .name {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .attr {
      color: var(--theme-color-nine);

      .type {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }
}