.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  padding: 75px 100px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 75%);
  background: rgb(0 0 0 / 50%);
  transform: translate(-50%, -50%);
  flex-direction: column;
  transform-style: preserve-3d;
  transition: transform 0.25s ease-out;

  .back {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    color: var(--white-25);
    font-size: 18px;

    .wzry-fanhui {
      margin-right: 10px;
      font-size: inherit;
    }

    span {
      line-height: 26px;
    }
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    transform: translateZ(50px);
    animation: light 1.5s infinite alternate-reverse ease-out;

    img {
      width: 100%;
      @keyframes light {
        100% {
          translate: 0 -20px 100px;
          filter: drop-shadow(0 0 15px var(--theme-color-thirteen));
        }
      }
    }
  }

  .title {
    margin-bottom: 0.75em;
    color: transparent;
    font-size: 50px;
    transform: translateZ(100px);
    background: linear-gradient(155deg, #f6dda5 25%, #ffb700);
    background-clip: text;
    font-weight: bold;
  }
}
