.hero-skin-price {
  position: absolute;
  right: 0;
  transform: translate(100px, 25px);
  filter: var(--d-shadow-s);
  transition: all 0.5s;
  opacity: 0;

  img {
    width: 40px;
    margin-right: 10px;
    vertical-align: top;
  }

  span {
    font-size: 40px;
    text-shadow: var(--t-shadow);
  }
}

.show {
  transform: translate(-25px, 25px);
  opacity: 1;
}
