.wzry-packup {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  color: var(--theme-color-five);
  font-size: 35px;
  text-shadow: var(--t-shadow);
  transition: all var(--time-250);

  &:hover {
    color: var(--white);
  }
}

.wzry-packup.is-active {
  transform: rotate(180deg);
  text-shadow: 0 -2px 3px #000;
}
