.wzry-packup {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  color: var(--theme-color-five);
  font-size: 35px;
  transition: all var(--time-250);

  &:hover {
    color: var(--white);
  }
}

.wzry-packup.is-active {
  transform: rotate(180deg);
}
