.countdown {
  z-index: 1;
  display: flex;
  align-items: center;
  color: var(--white-25);
  font-size: 9.375rem;

  .dot {
    display: flex;
    align-items: center;
    height: 8rem;
    font-family: digit;

    &.running {
      animation: fade 1s infinite;

      @keyframes fade {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0.25;
        }
      }
    }
  }

  @media screen and (max-width: 1920px) {
    --rate: 1;

    font-size: calc(7.8125vw * var(--rate));

    .dot {
      height: calc(6.6667vw * var(--rate));
    }
  }

  @media screen and (max-width: 960px) {
    --rate: 2;
  }
}
