.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;

  .logo {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 300px;

    img {
      width: 100%;
      opacity: 0.5;
    }
  }

  h1 {
    margin-bottom: 1em;
    color: var(--white);
    font-size: 75px;
  }

  input {
    margin-bottom: 1em;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 35px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--white);

    &:nth-of-type(2) {
      margin-bottom: 2em;
    }
  }
}