.k-herosort {
  width: 290px;
  height: 70px;
  background-position: 0 0;
  background-repeat: no-repeat;
  filter: drop-shadow(0 3px 1px #000);
  background-image: url('https://lengyibai.gitee.io/wzry-material/image/hero_profession.png');
}