.epigraph-tool {
  flex-shrink: 0;
  padding: 0.75rem 0;
  border-bottom: var(--subline);

  .epigraph-category {
    position: relative;
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 0.75rem 0;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      position: absolute;
      bottom: 0;
      height: 100%;
      transition: all 0.25s;
    }

    .title {
      position: relative;
      flex-grow: 1;
      border-right: var(--subline);
      color: var(--theme-font-color-four);
      text-align: center;
      transition: all 0.25s 0.1s;

      &.active {
        color: var(--white);
        text-shadow: var(--shine-15);
      }

      span {
        font-size: 1.625rem;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .epigraph-category {
      .title {
        min-width: 6.25rem;
      }
    }
  }
}
