.hero-progress {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 0.625rem;
  transform: translateY(-50%);

  .page-index {
    @height: 6.25rem;

    position: relative;
    margin-bottom: 0.3125rem;
    width: 25%;
    height: @height;
    background-color: var(--white-75);
    transition: all var(--time-250);
    transform-origin: right center;
    backdrop-filter: blur(0.3125rem);

    .tab {
      .global_flex-center();

      position: absolute;
      width: 18.75rem;
      height: 100%;
      border-radius: 0.9375rem 0 0 0.9375rem;
      background-color: var(--black-75);
      color: var(--white);
      font-size: 2.25rem;
      opacity: 0;
      transition: all var(--time-250);
      transform: translateX(-125%);
      pointer-events: none;

      &:hover {
        color: var(--blue);
        text-decoration: underline;
        text-shadow: var(--shine-25), var(--shine-50);
      }
    }

    &:hover {
      width: 75%;

      .tab {
        opacity: 1;
        transform: translateX(-100%);
        pointer-events: auto;
      }
    }

    &:active {
      background-color: var(--blue);
    }
  }

  .active {
    width: 75%;
    background-color: var(--blue);
    box-shadow:
      var(--shine-10) var(--blue),
      var(--shine-25) var(--blue),
      var(--shine-50) var(--blue);
  }
}
