.hero-basic {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    padding-bottom: 0.3125rem;
    width: 34.6875rem;
    border-bottom: 0.0625rem solid var(--white-50);
    text-shadow: var(--t-shadow-e);
    font-size: 2.1875rem;
    opacity: 0;
    transition: all var(--time-1000);
    transform: translateX(-100%);

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    .iconfont {
      margin-right: 0.3125rem;
      color: var(--white-75);
      font-size: inherit;
    }

    .label {
      color: var(--white-75);
    }

    .name {
      color: var(--white);
    }
  }

  @media screen and (max-width: @large) {
    .info {
      width: 23.4375rem;
      font-size: 1.75rem;
    }
  }

  @media screen and (max-width: @medium) {
    .info {
      width: 21.875rem;
      font-size: 1.625rem;
    }
  }
}