.hero-basic {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    width: 400px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    text-shadow: var(--t-shadow);
    transition: all 0.5s;
    opacity: 0;
    transform: translateX(-100%);
    border-bottom: 1px solid rgb(255 255 255 / 50%);
    @media screen and (max-width: 1560px) {
      width: 300px;
      font-size: 24px;
    }
    @media screen and (max-width: 1230px) {
      width: 250px;
      font-size: 24px;
    }

    .iconfont {
      margin-right: 5px;
      color: var(--gray);
      font-size: inherit;
    }

    .label {
      color: var(--gray);
    }

    .name {
      color: var(--white);
    }
  }
}
