.hero-relationship {
  display: flex;
  margin: 25px;
  font-size: 34px;
  text-shadow: var(--t-shadow);
  flex-wrap: wrap;
  flex: 1;
  align-content: flex-start;

  .relation {
    margin: 0 25px 25px;

    img {
      width: 60px;
      border-radius: 50%;
    }
  }
  @media screen and (max-width: 1560px) {
    margin: 15px;
    font-size: 26px;

    .relation {
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}
