.hero-relationship {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 1.5625rem;
  margin-bottom: 4.6875rem;
  border: var(--subline);
  text-shadow: var(--t-shadow-e);
  align-content: flex-start;
  gap: 2.1875rem;

  .relation {
    display: flex;
    align-items: center;
    border: var(--subline);

    img {
      width: 3.75rem;
      margin-right: 0.5em;
      border-radius: 50%;
    }

    .name {
      color: var(--white);
      font-size: 2.1875rem;
      text-shadow: var(--t-shadow-e);
      white-space: nowrap;
    }

    &:hover {
      .name {
        color: var(--blue);
      }
    }
  }

  @media screen and (max-width: @large) {
    .relation {
      .name {
        font-size: 1.75rem;
      }

      img {
        width: 3.125rem;
        border-radius: 50%;
      }
    }
  }

  @media screen and (max-width: @large) {
    .relation {
      .name {
        font-size: 1.75rem;
      }
    }
  }


  @media screen and (max-width: @medium) {
    .relation {
      .name {
        font-size: 1.625rem;
      }

      img {
        width: 2.5rem;
      }
    }
  }
}