.k-manage {
  position: relative;
  width: 12.5rem;
  height: 18.75rem;
  margin: 2.5rem;
  box-shadow: var(--b-shadow-a);

  .box {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .iconfont {
      color: var(--white);
      font-size: 4.6875rem;
      opacity: 0.25;
    }

    .title {
      margin-top: 0.75em;
      color: var(--white-50);
      font-size: 2.1875rem;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
}