.k-manage {
  .global_cursor-pointer();

  position: relative;
  margin: 2.5rem;
  width: 12.5rem;
  height: 18.75rem;
  box-shadow: var(--b-shadow-a);

  .box {
    .global_flex-center();

    position: absolute;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .iconfont {
      color: var(--white);
      font-size: 4.6875rem;
      opacity: 0.25;
    }

    .title {
      margin-top: 0.75em;
      color: var(--white-50);
      font-size: 2.1875rem;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
}
