.notice {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-right: 1.5625rem;
  color: var(--theme-font-color-four);

  :deep(h1) {
    margin: 0.625rem 0;
    font-size: 1.875rem;
    text-shadow: var(--t-shadow-e);
  }

  :deep(.content) {
    margin-bottom: 1.5625rem;
    padding-left: 2em;
    text-shadow: var(--t-shadow-d);

    .lyb {
      display: flex;
      align-items: center;

      .head-img {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1rem;
        border-radius: 50%;
      }

      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    p {
      font-size: 1.375rem;
      line-height: 1.5;

      a {
        color: #3498db;
        text-shadow: 0 0 15px;
      }

      .link {
        font-size: 1.75rem !important;

        &__name {
          margin-left: 0.25em;
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
