.notice {
  overflow: auto;
  padding-right: 1.5625rem;
  width: 100%;
  height: 100%;
  color: var(--theme-font-color-four);

  :deep(h1) {
    margin: 0.625rem 0;
    text-shadow: var(--t-shadow-e);
    font-size: 1.875rem;
  }

  :deep(.content) {
    margin-bottom: 1.5625rem;
    padding-left: 2em;
    text-shadow: var(--t-shadow-d);

    p {
      font-size: 1.375rem;
      font-family: var(--font-f);
      line-height: 1.5;

      .iconfont {
        font-size: 2rem !important;
      }

      span {
        font-size: 1.5rem !important;
      }
    }
  }
}
