.hero {
  .app-main_child();

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--gap-app-main-padding);

    .hero-card {
      aspect-ratio: 2/3;
    }
  }
}
