.edit-user-info-dialog {
  .common_k-dialog-content-center();
}

.user-menu {
  position: relative;
  z-index: var(--z-index-user-card);
  display: flex;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.9375rem;
  border-radius: 50%;

  .head-img {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--b-shadow-c);
    background-color: var(--white-50);
    transition: all 0.5s;
    transform-origin: left top;
    object-fit: cover;
  }

  .user-card {
    position: absolute;
    top: 3.75rem;
    left: -10.9375rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18.75rem;
    padding: 3.4375rem 1.5625rem 1.5625rem;
    border: 1px solid var(--white-10);
    border-radius: 0.625rem;
    text-shadow: var(--t-shadow-d);
    background-color: var(--theme-el-color-one);
    transition: all 0.5s;
    transform: translateY(1.5625rem);
    opacity: 0;
    filter: var(--d-shadow-a);
    pointer-events: none;

    .name {
      .global_one-line();

      width: 100%;
      margin-bottom: 1rem;
      color: var(--theme-font-color-four);
      font-size: 1.75rem;
      text-align: center;
      line-height: 1.3;
    }

    .user-id {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;
      color: var(--theme-color-three);
      font-size: 1rem;

      .id {
        margin-bottom: 0.25em;
      }

      .wzry-fuzhi {
        font-size: 1.25rem;
        font-weight: bold;
      }

      @media screen and (max-width: 540px) {
        display: none;
      }
    }

    .prop-num {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .prop-item {
        display: flex;
        align-items: center;
        flex-direction: column;

        .icon {
          width: 2rem;
          height: 2rem;
          margin-bottom: 0.5rem;
          filter: var(--d-shadow-d);
        }

        .num {
          font-size: 1.25rem;
          text-shadow: var(--t-shadow-f);
          transform: translateY(0.15rem);
        }
      }
    }

    .btns {
      position: relative;
      bottom: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;
      gap: 1rem;

      .k-button {
        --font-size: 1.25rem;
      }
    }
  }
}

.hover {
  .head-img {
    transform: translate(-3.125rem, 2.1875rem) scale(2);
    transform-origin: center center;
  }

  .user-card {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
