.main {
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 25px;
  color: var(--theme-color-five);
  flex: 1;

  h1 {
    margin-bottom: 10px;
  }

  :deep(.content) {
    margin-bottom: 25px;
    padding-left: 2em;

    p {
      font-size: 22px;
      font-family: var(--font-f);
      line-height: 1.5;
    }
  }
}
