.k-range {
  @height: 0.1875rem;

  position: relative;
  display: flex;
  align-items: center;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  .dot {
    --misc-rate: 0.46;
    .spirit_misc-range_icon();

    position: relative;
    left: 0;

    .slider-value {
      position: absolute;
      top: -4rem;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      .value {
        position: absolute;
        z-index: 2;
        height: 3.125rem;
        padding: 0 0.9375rem;
        border-radius: 1.875rem;
        color: var(--theme-font-color-six);
        font-size: 1.5625rem;
        font-weight: 500;
        text-align: center;
        line-height: 3.125rem;
        white-space: nowrap;
        background-color: var(--theme-el-color-one);
        transition: transform 0.3s ease-in-out;
        transform: translateX(-50%) scale(0);
        transform-origin: bottom;

        &.show-num {
          transform: translateX(-50%) scale(1) !important;
        }
      }
    }
  }

  .bar {
    position: absolute;
    width: 100%;
    height: @height;
    border-radius: @height;
    background-color: var(--theme-el-color-one);

    .line {
      position: absolute;
      left: 0;
      width: 0%;
      height: @height;
      border-radius: @height;
      background-image: linear-gradient(90deg, #2d59a0 0%, #6bb8ff 100%);
      pointer-events: none;
    }
  }
}
