.k-range {
  display: flex;
  align-items: center;

  .input {
    position: relative;

    .slider-value {
      position: absolute;
      top: -4.6875rem;
      width: 100%;

      .value {
        position: absolute;
        z-index: 2;
        padding: 0 0.9375rem;
        height: 3.125rem;
        border-radius: 1.875rem;
        background-color: var(--theme-el-color-one);
        color: var(--theme-font-color-six);
        text-align: center;
        white-space: nowrap;
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 3.125rem;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-50%) scale(0);
        transform-origin: bottom;
      }
    }

    .field {
      @height: 0.1875rem;

      display: flex;
      justify-content: center;

      .bar {
        position: absolute;
        left: 0;
        width: 0%;
        height: @height;
        border-radius: @height;
        background-image: linear-gradient(90deg, #2d59a0 0%, #6bb8ff 100%);
        pointer-events: none;

        img,
        span {
          position: absolute;
          top: 0.0938rem;
          right: 0;
          border-radius: 50%;
          transform: translateX(50%) translateY(-50%);
        }
      }

      input {
        margin: 0;
        width: 100%;
        height: @height;
        outline: none;
        border-radius: @height;
        appearance: none;

        &::-webkit-slider-thumb {
          width: var(--size);
          height: var(--size);
          border-radius: 3.125rem;
          background-size: cover;
          appearance: none;
        }
      }

      .value {
        position: relative;
        color: #000;
        font-weight: 600;
        font-size: 1.125rem;

        &.left {
          left: -1.375rem;
        }

        &.right {
          right: -2.6875rem;
        }
      }
    }
  }
}

/* 拖动显示数字 */
.show-num {
  transform: translateX(-50%) scale(1) !important;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
