.filter-gender {
  display: flex;
  align-items: center;
  margin-right: 25px;
  color: var(--theme-color-five);
  font-size: 22px;

  .iconfont {
    color: var(--white-25);
    font-size: 24px;
  }

  .wzry-nan,
  .wzry-nv {
    margin-right: 0.5em;
  }

  .nan-active {
    color: var(--blue);
  }

  .nv-active {
    color: var(--pink);
  }

  .all-active {
    color: var(--white);
  }
}
