.hero-material-attribute {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  padding: 25px;
  background-color: rgb(0 0 0 / 50%);
  opacity: 0;
  flex-direction: column;
  animation: into 1s forwards;
  transform: translateZ(275px);
  transform-origin: right center;

  // animation: updownright 2.5s 1s infinite, into 1s;
  @keyframes updownright {
    0%,
    100% {
      transform: translateX(-185px) translateZ(275px) rotateY(-45deg) rotateX(10deg) scale(0.8);
    }

    50% {
      transform: translateX(-185px) translateY(-20px) translateZ(275px) rotateY(-45deg) rotateX(10deg) scale(0.8);
    }
  }

  @keyframes into {
    100% {
      opacity: 1;
      transform: translateX(-185px) translateZ(275px) rotateY(-45deg) rotateX(10deg) scale(0.8);
    }
  }

  .title {
    margin-bottom: 15px;
    color: var(--white);
    font-size: 75px;
    text-shadow: var(--t-shadow);
  }

  .hero-sort {
    margin-bottom: 25px;
  }
}