.text {
  color: var(--theme-font-color-six);
  text-shadow: var(--t-shadow-e);
  font-size: 1.875rem;
  line-height: 1.25;
  transform: translateY(-2.5rem);
}

.button {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

  .last {
    margin-left: 1.5625rem;
  }

  @media screen and (max-width: @xs) {
    flex-direction: column;

    .last {
      margin-top: 0.625rem;
      margin-left: 0;
    }
  }
}
