.epigraph {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__main {
    overflow: auto;
    flex-grow: 1;
    padding-right: 0.9375rem;
  }
}

.epigraph-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}

.epigraph-leave-to {
  opacity: 0;
}

.epigraph-leave-active,
.epigraph-enter-active {
  transition: all 0.25s;
}
