.log-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transform-style: preserve-3d;

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    width: 85%;
    border-bottom: 0.0625rem solid var(--theme-border-color-six);

    .iconfont {
      position: absolute;
      color: var(--theme-font-color-ten);
      text-shadow: var(--t-shadow-d);
      font-size: 2.1875rem;
      transform: translateY(-0.3125rem);
    }

    :deep(.form-input) {
      width: 100%;
      transform: translateY(0.0625rem);

      input {
        border: none;
        background-color: transparent;
        color: var(--theme-font-color-ten) !important;
        text-align: left !important;
        font-size: 1.625rem;

        &::placeholder {
          color: var(--theme-font-color-eleven);
        }
      }
    }
  }

  &__box:nth-child(1) {
    transform: translateZ(7.8125rem);
  }

  &__box:nth-child(2) {
    transform: translateZ(7.8125rem);
  }

  &__remember {
    transform: translateZ(6.25rem);
  }

  &__btns {
    margin: 1.875rem 0;
    -webkit-box-reflect: below 0.625rem linear-gradient(transparent, transparent 0%, var(--black-25));
    transform: translateZ(4.6875rem);
  }
}
