.reg-login {
  .global_self-center();

  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 30rem;
  max-width: 80vw;
  padding: 3.125rem;
  border-radius: 1.5625rem;
  box-shadow: 0 0 0.625rem 0 var(--black-75);
  background: var(--black-50);
  transition: all 0.25s ease-out;
  transform-style: preserve-3d;

  &__reg,
  &__login {
    .global_click-btn();

    position: absolute;
    display: flex;
    align-items: center;
    color: var(--white-50);
    font-size: 1.125rem;

    .wzry-fanhui {
      font-size: inherit;
    }

    .text {
      line-height: 1.625rem;
    }
  }

  &__reg {
    top: 1.5625rem;
    left: 1.5625rem;

    .wzry-fanhui {
      margin-right: 0.625rem;
    }
  }

  &__login {
    top: 1.5625rem;
    right: 1.5625rem;

    .wzry-fanhui {
      margin-left: 0.625rem;
      transform: rotateY(180deg);
    }
  }
}
