.manage-mask {
  .global_fill-container();

  position: fixed;
  z-index: 2;
  background-color: rgb(0 0 0 / 85%);

  .content {
    display: flex;
    overflow: auto;
    height: 100%;

    @media screen and (max-width: @small) {
      flex-direction: column;
    }
  }
}
