.side-bar {
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid var(--white-10);
  transition: all var(--time-500);

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    .iconfont {
      margin-right: 10px;
      color: var(--theme-color-five);
      font-size: 50px;
    }

    span {
      overflow: hidden;
      color: var(--theme-color-five);
      font-size: 30px;
    }
  }

  @media screen and (max-width: 1300px) {
    .collapse();
  }
}

.collapse {
  width: 80px;

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    .iconfont {
      margin-right: 10px;
      color: var(--theme-color-five);
      font-size: 50px;
    }

    span {
      display: none;
    }
  }
}
