.skin-sidebar {
  position: relative;
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid var(--white-10);
  transition: all var(--time-250);

  .hero-type {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--theme-color-five);
    transition: all var(--time-250);

    &:hover {
      color: var(--blue);
      transition: all 0s;
    }

    .iconfont {
      margin-right: 15px;
      font-size: 35px;
    }

    .name {
      font-size: 20px;
    }

    :deep(.icon) {
      width: 35px;
      height: 35px;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 1300px) {
    .collapse();
  }
}

.collapse {
  width: 50px;

  .hero-type {
    padding: 10px;

    .name {
      opacity: 0;
    }

    .iconfont {
      margin-right: 0;
      font-size: 25px;
    }

    :deep(.icon) {
      margin-right: 0;
    }
  }
}

.active {
  color: var(--white) !important;
  background-image: linear-gradient(
    135deg,
    rgb(34 58 94 / 0%) 25%,
    rgb(34 130 199 / 25%) 100%
  ) !important;
}
