.k-backtop {
  position: fixed;
  top: 0;
  right: 15%;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 0;
  height: 0;
  opacity: 0.85;
  transition: 1s cubic-bezier(0.71, -0.45, 0.43, 1.46);
  transform: translateY(-4.5rem);

  &.active {
    height: 100%;
  }

  .line {
    flex-grow: 1;
    width: 0.1875rem;
    background-color: var(--white-25);
    pointer-events: none;
  }

  .wzry-spider {
    .global_cursor-pointer();

    color: #000;
    font-size: 5rem;
    transform: translateY(-0.75rem);
  }
}
