.K-Check {
  display: flex;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  span {
    font-size: 22px;
    color: var(--theme-color-eight);
    transition: all 0.25s;
  }
  .active {
    color: var(--white);
  }
}
