.edit-user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0.625rem;

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 1.5625rem;
    border-bottom: var(--subline);

    .label {
      display: flex;
      align-items: center;
      font-size: 1.625rem;
      text-shadow: var(--t-shadow-e);
    }

    .k-input {
      --border-color: var(--theme-border-color-two);
      --width: 15.625rem;
      --align: center;

      &::placeholder {
        color: var(--theme-font-color-nine);
      }
    }

    .id {
      color: var(--white-25);
      font-size: 1.625rem;
    }
  }
}
