.edit-user-info {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0.625rem;
  width: 100%;

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5625rem;
    width: 85%;
    border-bottom: var(--subline);

    .label {
      display: flex;
      align-items: center;
      text-shadow: var(--t-shadow-e);
      font-size: 1.625rem;
    }

    .input {
      &::placeholder {
        color: var(--theme-font-color-nine);
      }
    }

    .id {
      color: var(--white-25);
      font-size: 1.625rem;
    }
  }
}
