.ConfirmNotice {
  position: absolute;
  z-index: 3;

  > .title {
    position: absolute;
    top: 35px;
    left: 70px;
    color: var(--theme-color-nine);
    font-size: 30px;
  }

  .close {
    position: absolute;
    top: 32px;
    right: 28px;
    z-index: 2;
    width: 40px;
    filter: drop-shadow(0 0 3px #cce5ff);
  }

  .bg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    width: 80%;
    height: 75%;
    flex-direction: column;
    transform: translate(-48%, -44%);

    .desc {
      width: 100%;

      .title,
      .content {
        display: flex;
        margin-bottom: 30px;

        .label {
          margin-right: 0.75em;
          color: var(--theme-color-five);
          font-size: 35px;
        }

        .text {
          font-size: 35px;
          font-family: initial;
          transform: translateY(-5px);
        }
      }

      .content .text {
        height: 10em;
        padding: 0.25em;
        color: var(--theme-color-twelve);
        font-size: 30px;
        background-color: var(--theme-color-one);
        flex:1;
      }
    }

    .button {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;

      .last {
        margin-left: 25px;
      }
    }
  }
}

/* 缩放 */
.default-enter-from,
.default-leave-active {
  transform: scale(0.75);
  opacity: 0;
}

.default-enter-active {
  transition: all 0.25s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.default-leave-active {
  transition: all 0.25s;
}

/* 由下而上 */
.confirm-enter-from,
.confirm-leave-active {
  transform: translateY(25%);
}

.confirm-enter-active {
  transition: all 0.25s cubic-bezier(0.26, 0.89, 0.29, 1.4);
}

.confirm-leave-active {
  transition: all 0.25s 0.25s;
}
