.k-select {
  position: relative;
  @height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: @height;
  border: 1px solid var(--theme-color-eleven);
  color: var(--theme-color-three);
  background-color: var(--theme-color-one);

  .option {
    z-index: 1;
    width: 100px;
    color: var(--theme-color-five);
    font-size: 20px;
    text-align: center;
    transition: all var(--time-250);
    line-height: @height;
  }

  .active-bg {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    border: 1px solid #619cd8;
    transition: all var(--time-250);
    background-image: linear-gradient(180deg, #3661a5 0%, #4081bb 100%);
  }
}

.active {
  color: var(--white) !important;
}
