.HeroDetailBasicInfo {
  opacity: 0;
  position: absolute;
  height: 100%;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  animation: into 1s forwards;
  transform: translateZ(335px);
  transform-origin: left center;

  // animation: updownleft 2.5s 1s infinite, into 1s;
  @keyframes updownleft {

    0%,
    100% {
      transform: translateX(216px) translateY(0px) translateZ(335px) rotateY(45deg) rotateX(10deg) scale(0.8);
    }

    50% {
      transform: translateX(216px) translateY(-20px) translateZ(335px) rotateY(45deg) rotateX(10deg) scale(0.8);
    }
  }

  @keyframes into {
    100% {
      opacity: 1;
      transform: translateX(216px) translateY(0px) translateZ(335px) rotateY(45deg) rotateX(10deg) scale(0.8);
    }
  }

  .name {
    display: flex;
    margin-bottom: 25px;

    > span {
      color: var(--white);
      font-size: 75px;
      margin-right: 10px;
      text-shadow: var(--t-shadow);
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        text-shadow: var(--t-shadow);

        &:nth-child(1) {
          color: var(--gray);
          font-size: 26px;
          margin-bottom: 10px;
        }

        &:nth-child(2) {
          color: var(--gray);
          font-size: 16px;
        }
      }
    }
  }

  .info {
    display: flex;
    color: var(--white);
    font-size: 26px;
    margin-bottom: 15px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s;
    text-shadow: var(--t-shadow);
  }
}