.hero-detail {
  .global_fill-container();

  position: fixed;
  z-index: 2;
  overflow: hidden;
  background-color: #000;

  &__close {
    .global_cursor-pointer();

    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    z-index: 2;
    width: 6.25rem;
    opacity: 0;
    transition: all var(--time-500);
    transform: translateX(-110%);

    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* 滚动索引出场动画 */
.progress-enter-from,
.progress-leave-active {
  transform: translateX(100%) translateY(-50%);
}

.progress-leave-active,
.progress-enter-active {
  transition: all var(--time-500);
}
