.hero-detail {
  .global_fill-container();

  position: absolute;
  z-index: 2;
  overflow: hidden;
  background-color: #000;

  &__close {
    --msic-rate: 1.25;
    .spirit_msic-back();

    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    z-index: 2;
    transition: all 0.5s;
    transform: translateX(-110%);
    opacity: 0;

    &.show {
      .global_light-btn();

      transform: translateX(0);
      opacity: 1;
    }
  }
}

/* 滚动索引出场动画 */
.progress-enter-from,
.progress-leave-active {
  transform: translateX(100%) translateY(-50%);
}

.progress-leave-active,
.progress-enter-active {
  transition: all 0.5s;
}
