.menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--subline);
  font-size: 1.25rem;
  cursor: pointer;

  .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: var(--theme-font-color-four);
    font-size: 1.25rem;
    text-shadow: var(--t-shadow-e);
    transition: all 0.5s;

    &:hover {
      color: var(--blue);
      text-shadow: var(--shine-10);

      .name,
      .iconfont {
        transition: all 0s !important;
        pointer-events: none;
      }
    }

    .iconfont {
      margin-right: 0.9375rem;
      font-size: 2.1875rem;
      transition: all 0.25s ease-out;
    }

    .name {
      font-size: 1.25rem;
      white-space: nowrap;
      transition: all 0.25s ease-out;
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1.5625rem;
      transition: all 0.25s;
      transform: translate(-100%, -50%);
      pointer-events: none;
    }
  }
}

.collapse {
  span {
    opacity: 0;
  }

  .menu-item .arrow {
    display: none;
  }
}

.active {
  position: relative;
  left: 0;
  color: var(--white) !important;
  text-shadow: var(--shine-10) !important;
}

.arrow-active {
  transform: translate(-100%, -50%) rotate(180deg) !important;
}

/* 进入前状态 */
.menu-list-enter-from,
.menu-list-leave-active {
  transform: translateX(-100%);
  opacity: 0;
}

/* 进入和离开动画属性 */
.menu-list-leave-active,
.menu-list-enter-active {
  transition: all 0.25s;
}
