.select-into {
  display: flex;
  transform: translateZ(3.125rem);

  .reg {
    margin-right: 1.25rem;
  }

  @media screen and (max-width: @xs) {
    flex-direction: column;

    .reg {
      margin-bottom: 0.9375rem;
    }
  }
}
