.hero-card {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border: 0.0625rem solid var(--white-25);
  background-color: var(--black-25);
  transition:
    box-shadow var(--time-250),
    transform var(--time-250);

  &:hover {
    border: 0.0625rem solid var(--white-50);
  }

  .id,
  .num {
    z-index: 1;
    margin: 0.9375rem;
    text-shadow: var(--t-shadow-d);
    font-size: 1rem;
    transition: all var(--time-250);
  }

  .num {
    position: absolute;
    right: 0;
  }

  .select-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 73.7%);
    transition: all var(--time-250);

    .head {
      margin-bottom: 0.9375rem;
      width: 50%;
      border-radius: 50%;
      box-shadow: var(--b-shadow-a);
      opacity: 0;
      transition: all var(--time-250);
      transform: translateY(-3.125rem) scale(1.5);
      animation: scale var(--time-250) 0.1s forwards;
    }

    .view {
      color: var(--blue);
      font-size: 1.25rem;
      opacity: 0;
      transition: all var(--time-250);
      transform: translateY(3.125rem) scale(0.75);
      animation: scale var(--time-250) 0.1s forwards;

      @keyframes scale {
        100% {
          opacity: 1;
          transform: translateY(0%) scale(1);
        }
      }
    }
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all var(--time-250);
  }

  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.9375rem;
    width: 100%;

    .name {
      margin-bottom: 0.3125rem;
      width: fit-content;
      color: var(--white);
      text-shadow: var(--t-shadow-e);
      font-size: 1.875rem;
      line-height: 1;
      opacity: 1;
      transition: all var(--time-250);
      transform: translate(0);
    }

    .mark {
      color: var(--white-75);
      font-size: 1.25rem;
      opacity: 1;
      transition: all var(--time-250);
      transform: translate(0);
    }
  }
}

.hide {
  box-shadow: var(--b-shadow-b);
  transform: translateY(-0.625rem) scale(1.05);

  .bottom {
    .name {
      opacity: 0;
      transform: translateX(-6.25rem);
    }

    .mark {
      opacity: 0;
      transform: translateX(6.25rem);
    }
  }

  .id,
  .num {
    opacity: 0;
    transform: scale(1.5);
  }

  .bg {
    transform: scale(1.25);
  }
}
