.hero-card {
  --rotate: 0deg;
  .global_cursor-pointer();

  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--white-25);
  background-color: var(--black-25);
  background-image: linear-gradient(
    var(--rotate),
    transparent 0%,
    var(--white-75) 40%,
    var(--white-75) 60%,
    transparent 100%
  );
  transition: 0.25s;

  &:hover {
    --rotate: 90deg;
  }

  &.hide {
    box-shadow: var(--b-shadow-b);
    transform: translateY(-0.625rem) scale(1.05);

    .bottom {
      .name {
        transform: translateX(-6.25rem);
        opacity: 0;
      }

      .mark {
        transform: translateX(6.25rem);
        opacity: 0;
      }
    }

    .id,
    .num {
      transform: scale(1.5);
      opacity: 0;
    }

    .bg {
      transform: scale(1.25);
    }
  }

  .id,
  .num {
    z-index: 1;
    margin: 0.9375rem;
    font-size: 1rem;
    text-shadow: var(--t-shadow-d);
    transition: all 0.25s;
  }

  .num {
    position: absolute;
    right: 0;
  }

  .select-mask {
    .global_flex-center();
    .global_fill-container();

    z-index: 2;
    flex-direction: column;
    background-color: rgb(0 0 0 / 73.7%);
    transition: all 0.25s;

    .head {
      width: 50%;
      margin-bottom: 0.9375rem;
      border-radius: 50%;
      box-shadow: var(--b-shadow-a);
      transition: all 0.25s;
      transform: translateY(-3.125rem) scale(1.5);
      animation: scale 0.25s 0.1s forwards;
      opacity: 0;
    }

    .view {
      color: var(--blue);
      font-size: 1.5rem;
      transition: all 0.25s;
      transform: translateY(3.125rem) scale(0.75);
      animation: scale 0.25s 0.1s forwards;
      opacity: 0;

      @keyframes scale {
        100% {
          transform: translateY(0%) scale(1);
          opacity: 1;
        }
      }
    }
  }

  .bg {
    position: absolute;
    transition: all 0.25s;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0.9375rem;

    .name {
      width: fit-content;
      margin-bottom: 0.3125rem;
      color: var(--white);
      font-size: 1.875rem;
      text-shadow: var(--t-shadow-e);
      line-height: 1;
      transition: all 0.25s;
      transform: translate(0);
      opacity: 1;
    }

    .mark {
      color: var(--white-75);
      font-size: 1.25rem;
      transition: all 0.25s;
      transform: translate(0);
      opacity: 1;
    }
  }
}
