/* 淡入淡出 */
.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s;
}

.fade-a-enter-from,
.fade-a-leave-active {
  opacity: 0;
}

.fade-a-enter-active,
.fade-a-leave-active,
.fade-a-move {
  transition: all 0.25s;
}

.fade-a-leave-active {
  position: absolute;
}

/* 放大隐藏 */
.enlarge-close-enter-from,
.enlarge-close-leave-to {
  opacity: 0;
}

.enlarge-close-leave-to {
  transform: scale(1.5);
}

.enlarge-close-enter-active,
.enlarge-close-leave-active {
  transition: all 0.5s;
}


/* 输入框线条 */
.border-leave-active,
.border-enter-active {
  transition: all 0.5s;
}

.border-enter-from,
.border-leave-active {
  width: 0% !important;
}

/* 选择器列表内容动画 */
.select-list-enter-from,
.select-list-leave-active {
  opacity: 0;
}

.select-list-leave-active,
.select-list-enter-active,
.select-list-move {
  transition: all 0.25s;
}

.select-list-leave-active {
  position: absolute;
}

/* 卡片列表及卡片入场 */
.card-list-enter-from {
  opacity: 0;
}

.card-list-enter-active {
  transition: all 0.25s;
}

.card-enter-from {
  transform: translateY(-1.5625rem);
  opacity: 0;
}

.card-enter-active {
  transition: all 0.25s;
}

/* 电视开关动画 */
.tv-clip-enter-active {
  animation: tv-clip-in 1s;
}

.tv-clip-leave-active {
  animation: tv-clip-out 0.35s;
}

@keyframes tv-clip-in {
  0% {
    clip-path: inset(50% 49.75% 50% 49.75%);
  }

  50% {
    clip-path: inset(0 49.75% 0 49.75%);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes tv-clip-out {
  0% {
    clip-path: inset(0 0 0 0);
  }

  80% {
    clip-path: inset(49.75% 0 49.75% 0%);
  }

  95% {
    clip-path: inset(49.75% 49.75% 49.75% 49.75%);
  }

  100% {
    clip-path: inset(50% 50% 50% 50%);
  }
}