.epigraph-sidebar_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 4rem;
  padding: 0 1rem;
  box-shadow: var(--b-shadow-a);
  font-size: 2rem;
  line-height: 1.75;
  background-image: linear-gradient(90deg, var(--theme-font-color-three) 0%, transparent 100%);

  .label {
    text-shadow: var(--t-shadow-e);
  }

  .iconfont {
    .global_light-btn();

    display: inline-block;
    color: var(--theme-font-color-six);
    font-size: 1.5rem;
  }
}
