:root {
  --z-index-readme: 999; //README层级
  --z-index-message: 1011; //消息提醒层级
  --z-index-loading: 1000; //loaidng层级
  --z-index-tip: 997; //Tip层级
  --z-index-water-mark: 998; //水印层级
  --z-index-dialog: 996; //弹窗层级
}

/* 远程链接 */
@IMGBED: "https://lyb.cbb.plus/wzry-material";

/* 媒体查询 */
@big: 1600px;
@large: 1400px;
@medium: 960px;
@small: 720px;
@xs: 480px;
