:root {
  --z-index-readme: 1000; //README层级
  --z-index-message: 999; //消息提醒层级
  --z-index-loading: 998; //消息提醒层级
  --z-index-tip: 997; //Tip层级
  --z-index-water-mark: 996; //水印层级
  --z-index-dialog: 9; //弹窗层级
}
