:root {
  --z-index-stripes: 1001; //条纹背景层级
  --z-index-message: 1000; //消息提醒层级
  --z-index-loading: 990; //loaidng层级
  --z-index-readme: 980; //README层级
  --z-index-water-mark: 970; //水印层级
  --z-index-tip: 960; //Tip层级
  --z-index-view-img: 950; //查看图片
  --z-index-barrage: 949; //弹幕层级
  --z-index-close-dialog: 941; //确认关闭弹窗层级
  --z-index-dialog: 940; //弹窗层级
  --z-index-spider: 930; //蜘蛛层级
  --image-load-blur: 0.5rem; //模糊加载模糊度
}

/* 远程链接 */
@IMGBED: "https://lyb.cbb.plus/wzry-material";

/* 媒体查询 */
@big: 1600px;
@large: 1400px;
@medium: 960px;
@small: 720px;
@xs: 480px;
