:root {
  --gray: rgb(255 255 255 / 50%);
  --white: #fff;
  --black: #111;
  --red: #e74c3c;
  --orange: #e67e22;
  --yellow: #f1c40f;
  --green: #2ecc71;
  --cyan: #1abc9c;
  --blue: #3498db;
  --purple: #9b59b6;
  --pink: #fd79a8;
  --black-25: rgb(0 0 0 / 25%);
  --black-50: rgb(0 0 0 / 50%);
  --black-75: rgb(0 0 0 / 75%);

  /* 主题 */
  --theme-color-one: #162743;
  --theme-color-two: #233c5b;
  --theme-color-three: #4d6b8f;
  --theme-color-four: #3774b4;
  --theme-color-five: #7d97c1;
  --theme-color-seven: #73b1d5;
  --theme-color-eight: #84ade2;
  --theme-color-nine: #cdd0e2;
  --theme-color-ten: #ccde2c;
  --theme-color-eleven: #49698f;
  --theme-color-twelve: #aec8e3;
  --theme-color-thirteen: #e6bc5e;
  --theme-color-fourteen: #f5dda2;
  --theme-color-fifteen: #8f693aa5;

  /* 样式 */
  --t-shadow: 0 2px 3px #000;
  --b-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  --font-f: "微软雅黑";

  /* 远程链接 */
  --img-url:'https://lengyibai.gitee.io/wzry-material/image/'
}
