/* 文字渐变 */
.global_text-gradient(@color1,@color2,@deg) {
  color: transparent;

  &::before {
    content: attr(data-text);
    position: absolute;
    color: transparent;
    text-shadow: none;
    background: linear-gradient(@deg, @color1 0%, @color2 100%);
    background-clip: text;
  }
}

/* 边框渐变 */
.global_border-gradient(@width,@color1,@color2,@deg) {
  border: @width solid;
  border-image-source: linear-gradient(@deg, @color1 0%, @color2 100%);
  border-image-slice: 1;
}

/* 文字描边 */
.global_text-outline(@thickness, @color, @border) {
  position: relative;
  z-index: 1;
  color: @color;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    font-size: inherit;
    font-family: inherit;
    -webkit-text-stroke: @thickness @border;
  }
}

/* 发光的选中边框 */
.global_selected-shine-circle(@size) {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: @size;
  height: @size;
  border: 0.3125rem solid var(--theme-border-color-eight);
  border-radius: 50%;
  box-shadow:
    var(--shine-20) var(--theme-border-color-eight),
    var(--shine-10) var(--theme-border-color-eight) inset;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    border-style: solid;
    border-width: 0.625rem;
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  &::before {
    top: -0.25rem;
    border-color: #fff498 transparent transparent;
  }

  &::after {
    bottom: -0.25rem;
    border-color: transparent transparent #fff498;
  }
}

/* 溢出省略号显示单行 */
.global_one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* 超级居中 */
.global_flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 自身居中 */
.global_self-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 超级填充 */
.global_fill-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* 白色滚动条 */
.global_scroll-white {
  &::-webkit-scrollbar {
    width: 0.3125rem;
    background: transparent;
  }

  /* 滚动条里面可以拖动的那部分 */
  &::-webkit-scrollbar-thumb {
    border-radius: 0.3125rem;
    background-color: var(--white-50);
    background-image: linear-gradient(
      45deg,
      rgb(0 0 0 / 25%) 25%,
      transparent 25%,
      transparent 50%,
      rgb(0 0 0 / 25%) 50%,
      rgb(0 0 0 / 25%) 75%,
      transparent 75%,
      transparent
    );

    &:hover {
      background-color: rgb(255 255 255 / 35%);
    }

    &:active {
      background-color: var(--white-25);
    }
  }
}

/* 可点击按钮 */
.global_click-btn {
  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

/* 可点击高光 */
.global_light-btn {
  &:hover {
    transition: all 0.1s;
    filter: contrast(1.1) brightness(1.3);
  }

  &:active {
    transform: scale(0.95);
    transform-origin: center;
    filter: contrast(1) brightness(0.9);
  }
}

/*  条纹背景 */
.global_stripes-bg {
  --color: rgba(0 0 0 / 50%);
  .global_fill-container();

  background-image: linear-gradient(
    -45deg,
    var(--color) 25%,
    transparent 25%,
    transparent 50%,
    var(--color) 50%,
    var(--color) 75%,
    transparent 75%,
    transparent
  );
  background-size: 0.25rem 0.25rem;
}

/* 点状背景 */
.global_dot-bg {
  --color: rgba(0 0 0 / 50%);
  .global_fill-container();

  background-image: radial-gradient(circle, var(--color) 0%, var(--color) 50%, transparent 50%);
  background-size: 0.1875rem 0.1875rem;
}

/* 黄色描述高亮 */
.global_highlight-yellow-desc {
  color: var(--theme-font-color-thirteen);
}

/* 黄色确认弹窗及Tip高亮 */
.global_highlight-yellow-tip {
  color: var(--theme-font-color-fourteen);
}

/* 倒影 */
.global_reflect(@gap,@percent) {
  -webkit-box-reflect: below @gap
    linear-gradient(transparent, transparent @percent, var(--black-25));
}

/* 图片光效，利用伪元素继承父元素背景再模糊处理 */
.global_img-shine(@blur) {
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: var(--d-shadow-d);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(@blur) saturate(2) brightness(1.25);
  }

  &::after {
    .global_fill-container();

    content: "";
    background: inherit;
    filter: var(--d-shadow-b);
  }
}

/* 从上到下白色字蓝色文字渐变 */
.global_text-blue-gradient {
  .global_text-gradient(var(--theme-font-color-four),var(--white),180deg);

  text-shadow: var(--t-shadow-e);
}
