html {
  font-size: 16px;

  @media screen and (max-width: @medium) {
    font-size: 14px;
  }

  @media screen and (max-width: @small) {
    font-size: 12px;
  }

  @media screen and (max-width: @xs) {
    font-size: 10px;
  }
}

@big: 1600px;
@large: 1400px;
@medium: 960px;
@small: 720px;
@xs: 480px;