.animate-time-xx {
  --time-250: 0.1s;
  --time-500: 0.25s;
  --time-1000: 0.5s;
  --time-2000: 1s;
}

.animate-time-yy {
  --time-250: 0.5s;
  --time-500: 1s;
  --time-1000: 2s;
  --time-2000: 3s;
}
