.border-line {
  --subline: 1px solid var(--white-10);
}

.tbd-shadow {
  --t-shadow-a: 0 -0.125rem 0.1875rem #000;
  --t-shadow-b: 0 0.3125rem 0.1875rem #000;
  --t-shadow-c: 0 1px 0.125rem var(--black-25);
  --t-shadow-d: 0 1px 0.125rem #000;
  --t-shadow-e: 0 0.125rem 0.1875rem #000;
  --t-shadow-f: 0 0.1875rem 0.3125rem #000;
  --b-shadow-a: 0 0.1875rem 0.375rem var(--black-50);
  --b-shadow-b: 0 0.3125rem 0.9375rem var(--black-75);
  --b-shadow-c: 0 0.125rem 0.1875rem var(--black-50);
  --d-shadow-a: drop-shadow(0 0.1875rem 0.375rem var(--black));
  --d-shadow-b: drop-shadow(0 0.125rem 0.1875rem var(--black));
  --d-shadow-c: drop-shadow(0 0 0.375rem var(--black));
  --d-shadow-d: drop-shadow(0 0.3125rem 0.1875rem #000);
}

.soft-light {
  --shine-5: 0 0 0.3125rem;
  --shine-10: 0 0 0.625rem;
  --shine-15: 0 0 0.9375rem;
  --shine-20: 0 0 1.25rem;
  --shine-25: 0 0 1.5625rem;
  --shine-35: 0 0 2.1875rem;
  --shine-50: 0 0 3.125rem;
}
