.K-ManageCard {
  position: relative;
  box-shadow: var(--b-shadow);
  width: 200px;
  height: 300px;
  margin: 40px;
  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      opacity: 0.25;
    }
    .title {
      color: rgba(255, 255, 255, 0.5);
      margin-top: 0.75em;
      font-size: 35px;
    }
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
}
