.todo {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  margin-bottom: 0.625rem;
  padding-top: 0.3125rem;
  padding-right: 1.5625rem;
  color: var(--theme-font-color-four);
  text-shadow: var(--t-shadow-e);

  h1 {
    margin-bottom: 0.625rem;
    font-size: 1.875rem;
  }

  :deep(.content) {
    margin-bottom: 1.875rem;
    padding-left: 2em;

    h2 {
      margin-top: 1.25rem;
      margin-bottom: 0.625rem;
      font-size: 1.625rem;
      font-weight: normal;
    }

    p {
      font-size: 1.375rem;
      font-family: var(--font-f);
      text-shadow: var(--t-shadow-d);
      line-height: 1.5;
    }
  }
}
